In [3]:
#importing libraries
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
#importing trained data
train_data = pd.read_csv('data/prices/train.csv')

In [5]:
# Getting city or state
state = []
for addr in train_data['ADDRESS']:
    state.append(addr.split(',')[1])
train_data['STATE_OR_CITY'] = state

In [6]:
#converting in square_feet to square_yard
square_yard = train_data['SQUARE_FT']/9
train_data['SQUARE_YARD'] = square_yard

In [7]:
train_data.head(10)

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS),STATE_OR_CITY,SQUARE_YARD
0,Owner,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0,Bangalore,144.470712
1,Dealer,0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0,Mysore,141.666667
2,Owner,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0,Bangalore,103.684414
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5,Ghaziabad,103.324571
4,Dealer,1,0,2,BHK,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5,Kolkata,111.001027
5,Owner,0,0,3,BHK,1250.000000,1,1,"South Chittoor,Kochi",10.033280,76.282571,42.0,Kochi,138.888889
6,Dealer,0,0,3,BHK,1495.053957,1,1,"Sodala,Jaipur",26.916347,75.795600,66.5,Jaipur,166.117106
7,Owner,0,1,3,BHK,1181.012946,1,1,"Kharar,Mohali",30.740000,76.650000,52.0,Mohali,131.223661
8,Dealer,0,1,2,BHK,1040.000000,1,1,"Bileshivale,Bangalore",13.054202,77.674002,41.6,Bangalore,115.555556
9,Owner,0,1,2,BHK,879.120879,1,1,"Chromepet,Chennai",12.951610,80.140970,36.0,Chennai,97.680098

In [8]:
prepare_data = pd.concat([train_data.iloc[:,:8],train_data.iloc[:,12:]],axis=1)
prepare_data

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,STATE_OR_CITY,SQUARE_YARD
0,Owner,0,0,2,BHK,1300.236407,1,1,Bangalore,144.470712
1,Dealer,0,0,2,BHK,1275.000000,1,1,Mysore,141.666667
2,Owner,0,0,2,BHK,933.159722,1,1,Bangalore,103.684414
3,Owner,0,1,2,BHK,929.921143,1,1,Ghaziabad,103.324571
4,Dealer,1,0,2,BHK,999.009247,0,1,Kolkata,111.001027
...,...,...,...,...,...,...,...,...,...,...
29446,Owner,0,0,3,BHK,2500.000000,1,1,Agra,277.777778
29447,Owner,0,0,2,BHK,769.230769,1,1,Lake View Recidency,85.470085
29448,Dealer,0,0,2,BHK,1022.641509,1,1,Jaipur,113.626834
29449,Owner,0,0,2,BHK,927.079009,1,1,Chennai,103.008779
29450,Dealer,0,1,2,BHK,896.774194,1,1,Jaipur,99.641577

In [9]:
import copy

In [10]:
transform_data = copy.deepcopy(prepare_data)
del transform_data['STATE_OR_CITY']
transform_data

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,SQUARE_YARD
0,Owner,0,0,2,BHK,1300.236407,1,1,144.470712
1,Dealer,0,0,2,BHK,1275.000000,1,1,141.666667
2,Owner,0,0,2,BHK,933.159722,1,1,103.684414
3,Owner,0,1,2,BHK,929.921143,1,1,103.324571
4,Dealer,1,0,2,BHK,999.009247,0,1,111.001027
...,...,...,...,...,...,...,...,...,...
29446,Owner,0,0,3,BHK,2500.000000,1,1,277.777778
29447,Owner,0,0,2,BHK,769.230769,1,1,85.470085
29448,Dealer,0,0,2,BHK,1022.641509,1,1,113.626834
29449,Owner,0,0,2,BHK,927.079009,1,1,103.008779
29450,Dealer,0,1,2,BHK,896.774194,1,1,99.641577

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
postLabelEncoder = LabelEncoder()
transform_data['POSTED_BY'] = postLabelEncoder.fit_transform(transform_data['POSTED_BY'])

In [13]:
postLabelEncoder.classes_

array(['Builder', 'Dealer', 'Owner'], dtype=object)

In [14]:
bhkLabelEncoder = LabelEncoder()
transform_data['BHK_OR_RK'] = bhkLabelEncoder.fit_transform(transform_data['BHK_OR_RK'])

In [15]:
bhkLabelEncoder.classes_

array(['BHK', 'RK'], dtype=object)

In [16]:
transform_data

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,SQUARE_YARD
0,2,0,0,2,0,1300.236407,1,1,144.470712
1,1,0,0,2,0,1275.000000,1,1,141.666667
2,2,0,0,2,0,933.159722,1,1,103.684414
3,2,0,1,2,0,929.921143,1,1,103.324571
4,1,1,0,2,0,999.009247,0,1,111.001027
...,...,...,...,...,...,...,...,...,...
29446,2,0,0,3,0,2500.000000,1,1,277.777778
29447,2,0,0,2,0,769.230769,1,1,85.470085
29448,1,0,0,2,0,1022.641509,1,1,113.626834
29449,2,0,0,2,0,927.079009,1,1,103.008779
29450,1,0,1,2,0,896.774194,1,1,99.641577

In [17]:
x = transform_data.iloc[:,:-1]
y = transform_data.iloc[:,-1]

In [18]:
from sklearn import utils

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.3)

In [21]:
from sklearn.model_selection import GridSearchCV

In [22]:
from sklearn.svm import LinearSVR
from sklearn.svm import SVR

In [23]:
'''svrparams = [
    {'kernel':['linear', 'poly', 'rbf', 'sigmoid', 'precomputed']},
]'''

"svrparams = [\n    {'kernel':['linear', 'poly', 'rbf', 'sigmoid', 'precomputed']},\n]"

In [24]:
#gridSearchSVR = GridSearchCV(SVR(),svrparams,n_jobs=-1)

In [25]:
#gridSearchSVR.fit(xtrain,ytrain)

In [26]:
from sklearn.metrics import mean_squared_error, mean_absolute_error,r2_score

def getScores(actual,pred):
    mse = mean_squared_error(actual,pred)
    rmse = np.sqrt(mse)
    mae=mean_absolute_error(actual,pred)
    r2=r2_score(actual,pred)
    result={'mse':mse,'rmse':rmse,'mae':mae,'r2':r2}
    return result

In [1]:
from sklearn.tree import DecisionTreeRegressor

In [2]:
maxFeat = ['auto','sqrt','log2']

In [28]:
results = []
for feature in maxFeat:
    for depth in range(1,7):
        decReg =  DecisionTreeRegressor(max_depth=depth,max_features=feature)
        decReg.fit(xtrain,ytrain)
        result = getScores(ytest,decReg.predict(xtest))
        result['depth'] = depth
        result['feature'] = feature
        results.append(result)

In [29]:
results

[{'mse': 20305309744.32433,
  'rmse': 142496.70081908678,
  'mae': 1717.0903355866576,
  'r2': 0.7757416786959825,
  'depth': 1,
  'feature': 'auto'},
 {'mse': 6304516711.110295,
  'rmse': 79400.98683965014,
  'mae': 980.4407399127086,
  'r2': 0.9303709053410568,
  'depth': 2,
  'feature': 'auto'},
 {'mse': 6297424777.264228,
  'rmse': 79356.31529540815,
  'mae': 955.0349870236184,
  'r2': 0.9304492309218603,
  'depth': 3,
  'feature': 'auto'},
 {'mse': 42269706260.0848,
  'rmse': 205595.9782196257,
  'mae': 2285.574740838261,
  'r2': 0.5331598735867518,
  'depth': 4,
  'feature': 'auto'},
 {'mse': 6296968675.932707,
  'rmse': 79353.44148764253,
  'mae': 920.9942959884673,
  'r2': 0.9304542682505315,
  'depth': 5,
  'feature': 'auto'},
 {'mse': 42269622913.068085,
  'rmse': 205595.77552339953,
  'mae': 2247.379021402152,
  'r2': 0.5331607940978047,
  'depth': 6,
  'feature': 'auto'},
 {'mse': 90549500626.57765,
  'rmse': 300914.4407079488,
  'mae': 4818.4439373330615,
  'r2': -5.758400752164938e-05,
  'depth': 1,
  'feature': 'sqrt'},
 {'mse': 20305304452.498734,
  'rmse': 142496.68225084658,
  'mae': 1715.6581137938238,
  'r2': 0.7757417371405934,
  'depth': 2,
  'feature': 'sqrt'},
 {'mse': 90546151616.48326,
  'rmse': 300908.87593503,
  'mae': 3804.181092225387,
  'r2': -2.05964711945672e-05,
  'depth': 3,
  'feature': 'sqrt'},
 {'mse': 90545481720.23782,
  'rmse': 300907.76281152637,
  'mae': 3746.241610485159,
  'r2': -1.3197923260932498e-05,
  'depth': 4,
  'feature': 'sqrt'},
 {'mse': 89983924833.90366,
  'rmse': 299973.2068600522,
  'mae': 3313.1804456184254,
  'r2': 0.006188815551623761,
  'depth': 5,
  'feature': 'sqrt'},
 {'mse': 42269724098.701706,
  'rmse': 205596.0216023202,
  'mae': 2289.2128390977655,
  'r2': 0.5331596765713734,
  'depth': 6,
  'feature': 'sqrt'},
 {'mse': 20305309744.32433,
  'rmse': 142496.70081908678,
  'mae': 1717.09033558666,
  'r2': 0.7757416786959825,
  'depth': 1,
  'feature': 'log2'},
 {'mse': 90534864226.7117,
  'rmse': 300890.11985559063,
  'mae': 4398.411887087324,
  'r2': 0.00010406506383964231,
  'depth': 2,
  'feature': 'log2'},
 {'mse': 6300434436.888549,
  'rmse': 79375.27597992052,
  'mae': 1031.7630931048575,
  'r2': 0.9304159912804293,
  'depth': 3,
  'feature': 'log2'},
 {'mse': 6297828824.841386,
  'rmse': 79358.86103543438,
  'mae': 946.2561254726478,
  'r2': 0.9304447684914654,
  'depth': 4,
  'feature': 'log2'},
 {'mse': 90554151062.43123,
  'rmse': 300922.1677816894,
  'mae': 3332.624435574376,
  'r2': -0.00010894490528623457,
  'depth': 5,
  'feature': 'log2'},
 {'mse': 6297757360.697358,
  'rmse': 79358.41077477143,
  'mae': 930.0226311395206,
  'r2': 0.9304455577642801,
  'depth': 6,
  'feature': 'log2'}]

In [30]:
from sklearn.ensemble import RandomForestRegressor

In [32]:
results = []
for feature in maxFeat:
    for depth in range(1,8):
        randReg =  RandomForestRegressor(max_depth=depth,max_features=feature)
        randReg.fit(xtrain,ytrain)
        result = getScores(ytest,randReg.predict(xtest))
        result['depth'] = depth
        result['feature'] = feature
        results.append(result)

In [33]:
results

[{'mse': 23261240356.896133,
  'rmse': 152516.36094824757,
  'mae': 1874.3217628450896,
  'r2': 0.7430954376184833,
  'depth': 1,
  'feature': 'auto'},
 {'mse': 28543620732.881874,
  'rmse': 168948.57422565564,
  'mae': 1940.3683365506288,
  'r2': 0.6847551428618881,
  'depth': 2,
  'feature': 'auto'},
 {'mse': 23069904004.06318,
  'rmse': 151887.80070849397,
  'mae': 1728.8542657084952,
  'r2': 0.7452086173646206,
  'depth': 3,
  'feature': 'auto'},
 {'mse': 21749346923.508343,
  'rmse': 147476.59788423497,
  'mae': 1662.7478719998344,
  'r2': 0.7597932712211883,
  'depth': 4,
  'feature': 'auto'},
 {'mse': 24825222340.617374,
  'rmse': 157560.21814092976,
  'mae': 1744.9001638125512,
  'r2': 0.7258223214417114,
  'depth': 5,
  'feature': 'auto'},
 {'mse': 28216977442.982967,
  'rmse': 167979.09823243774,
  'mae': 1844.2329419823595,
  'r2': 0.6883626956045112,
  'depth': 6,
  'feature': 'auto'},
 {'mse': 23845266225.498703,
  'rmse': 154419.12519341218,
  'mae': 1693.2740292344465,
  'r2': 0.7366452695323973,
  'depth': 7,
  'feature': 'auto'},
 {'mse': 68773092458.6412,
  'rmse': 262246.24393619294,
  'mae': 3842.1700481710927,
  'r2': 0.24044801779141423,
  'depth': 1,
  'feature': 'sqrt'},
 {'mse': 61155012917.01135,
  'rmse': 247295.39606917746,
  'mae': 3566.4711204960868,
  'r2': 0.32458451957730405,
  'depth': 2,
  'feature': 'sqrt'},
 {'mse': 49118595883.53854,
  'rmse': 221627.1551131281,
  'mae': 3211.6726294404143,
  'r2': 0.45751855074598313,
  'depth': 3,
  'feature': 'sqrt'},
 {'mse': 46067342709.39524,
  'rmse': 214633.04197954992,
  'mae': 2808.705472957128,
  'r2': 0.4912175646158994,
  'depth': 4,
  'feature': 'sqrt'},
 {'mse': 46510878194.67886,
  'rmse': 215663.80826341463,
  'mae': 2785.720887605247,
  'r2': 0.48631901716102643,
  'depth': 5,
  'feature': 'sqrt'},
 {'mse': 42294299935.49151,
  'rmse': 205655.7802141518,
  'mae': 2510.797940616892,
  'r2': 0.5328882531864303,
  'depth': 6,
  'feature': 'sqrt'},
 {'mse': 45023527792.03498,
  'rmse': 212187.4826469153,
  'mae': 2413.6822724864974,
  'r2': 0.5027457896992293,
  'depth': 7,
  'feature': 'sqrt'},
 {'mse': 67335974612.659294,
  'rmse': 259491.76212870283,
  'mae': 3995.5119932027,
  'r2': 0.256320005942003,
  'depth': 1,
  'feature': 'log2'},
 {'mse': 41760460338.770325,
  'rmse': 204353.76272232016,
  'mae': 2917.567590717644,
  'r2': 0.5387841480687907,
  'depth': 2,
  'feature': 'log2'},
 {'mse': 40032471683.36409,
  'rmse': 200081.16273993434,
  'mae': 2630.6630143774382,
  'r2': 0.5578686062707694,
  'depth': 3,
  'feature': 'log2'},
 {'mse': 44357691156.39433,
  'rmse': 210612.6566861411,
  'mae': 2686.854413748788,
  'r2': 0.510099502006584,
  'depth': 4,
  'feature': 'log2'},
 {'mse': 42544242909.8047,
  'rmse': 206262.55818690095,
  'mae': 2464.893809841032,
  'r2': 0.5301278032082231,
  'depth': 5,
  'feature': 'log2'},
 {'mse': 41204656885.82559,
  'rmse': 202989.3023925783,
  'mae': 2320.3843498383144,
  'r2': 0.5449226187891009,
  'depth': 6,
  'feature': 'log2'},
 {'mse': 32502367370.187275,
  'rmse': 180284.12955717227,
  'mae': 2025.4531123852842,
  'r2': 0.6410334815561214,
  'depth': 7,
  'feature': 'log2'}]

- https://www.geeksforgeeks.org/python-coefficient-of-determination-r2-score/